html {
    height: 100%;
}

html,
body {
    min-height: 100%;
}

body {
    background: #000000;
    margin: 0;
    font-family: monospace;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.125em;
}

h4 {
    font-size: 13px;
}

.header {
    height: 200px;
    background: url('../img/stars.gif');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__spaceship {
    flex: 0 0 76px;
    display: flex;
    align-items: center;
}

.header__spaceship-image {
    height: 68px;
}

.header__text {
    font-family: 'press_start_2pregular', monospace;
    color: #FFFFFF;
    text-align: center;
    width: 304px;
    user-select: none;
    margin-top: 8px;
}

.header__name {
    font-size: 31px;
    text-transform: uppercase;
    transform: perspective(31px) rotateX(5deg);
    transform-origin: 50% 100%;
    margin-bottom: 8px;
    text-decoration: none;
    color: #ffffff;
    display: block;
}

.header__start {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nav {
    font-family: 'press_start_2pregular', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    margin-bottom: 8px;
    flex-wrap: wrap;
}

.nav__content {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.nav__item {
    height: 16px;
    flex: 1 1 100%;
    text-align: center;
    color: #ffffff;
    background: #bb1b1b;
    margin: 4px;
    padding: 8px;
    border: 4px solid #D53535;
    border-style: outset;
    display: none;
    text-decoration: none;
}

.nav__item:not(.nav__toggle):hover {
    border-style: inset;
    padding-top: 10px;
    padding-bottom: 6px;
}

.nav__toggle {
    display: block;
    position: relative;
    padding-right: 28px;
}

#show-menu {
    display: none;
}

.content {
    background: #ffffff;
    padding: 16px;
    position: relative;
    margin: 0 auto 16px;
    width: 100%;
    box-sizing: border-box;
    flex: 1;
}

.content__header h1 a {
    color: #000000;
    text-decoration: none;
}

.content h1,
.content h2,
.content h3,
.content h4 {
    font-family: 'press_start_2pregular', monospace;
    line-height: 150%;
    margin-bottom: 16px;
    margin-top: 32px;
}

.content__header h1 {
    margin-top: 0px;
}

.content__article:not(:last-child) {
    margin-bottom: 32px;
}

.content__article {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.content__header {
    border-bottom: 1px dashed #000000;
    margin-bottom: 16px;
}

.content__meta {
    margin-bottom: 16px;
}

@media screen and (min-width: 650px) {
    .header {
        flex-direction: row;
    }

    .header__spaceship,
    .header:after {
        flex: 1 1 50%;
        content: '';
    }

    .header__text {
        width: 320px;
        margin-top: 0px;
        height: 95px;
    }

    .header__name {
        font-size: 32px;
        transform: perspective(32px) rotateX(5deg);
    }

    .header__spaceship-image {
        margin-left: 16px;
    }

    .content {
        border-left: 16px solid #000000;
        border-right: 16px solid #000000;
    }
}

@media screen and (min-width: 700px) {
    .nav__item {
        flex: 1;
        display: block;
    }

    .nav__toggle,
    .nav__toggle-checkbox:checked~.nav__toggle {
        display: none;
    }
}

@media screen and (min-width: 800px) {
    .header__text {
        height: 133px;
        width: 480px;
    }

    .header__name {
        font-size: 48px;
        transform: perspective(48px) rotateX(5deg);
    }
}

@media screen and (min-width: 992px) {

    .header__spaceship,
    .header:after {
        flex: 0 0 256px;
    }

    .content {
        margin: 0 auto 16px;
        width: 960px;
        border: none;
    }
}

@media screen and (min-width: 1032px) {

    .nav__content {
        width: 992px;
        flex: none;
    }
}

@media screen and (min-width: 1172px) {

    .header__spaceship,
    .header:after {
        flex: 0 0 346px;
    }

    .content {
        margin: 0 auto 16px;
        width: 1140px;
        border: none;
    }

    .nav__content {
        width: auto;
        flex: 1;
    }
}

@media screen and (min-width: 1212px) {
    .nav__content {
        width: 1172px;
        flex: none;
    }
}

@font-face {
    font-family: 'press_start_2pregular';
    src: url('css/pressstart2p-webfont.woff2') format('woff2'), url('css/pressstart2p-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
