.easter {
    overflow: hidden;
}

.easter .header__background {
    animation: none;
}

.easter .header__spaceship-image {
    animation: none;
}

.easter .header__start {
    animation: none;
}

.nav__toggle-checkbox:checked~.nav__item:not(.nav__toggle) {
    display: block;
}

.nav__toggle-checkbox:checked~.nav__toggle {
    border-style: inset;
}

.nav__toggle-checkbox:checked~.nav__toggle:after {
    content: "-";
}

.content code {
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    border-radius: 3px;
    color: #bb1b1b;
    white-space: nowrap;
}

.content img {
    max-width: 100%;
}

.content__pagination {
    text-align: center;
}

.content__pagination .page-number,
.content__pagination .next,
.content__pagination .prev {
    margin: 0 4px;
}

.footer {
    font-family: 'press_start_2pregular', monospace;
    text-align: center;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer p {
    margin-bottom: 5px;
}

.footer a {
    color: #ffffff;
}

.easter__overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: #000000;
    opacity: 0.9;
}

.easter__close {
    position: fixed;
    top: 50%;
    margin-top: -160px;
    right: 50%;
    font-family: 'press_start_2pregular', monospace;
    color: #ffffff;
    border: none;
    background: transparent;
}

.easter__canvas {
    position: fixed;
    top: 50%;
    margin-top: -160px;
    left: 50%;
}

@keyframes stars {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(-400px);
    }
}

@keyframes spaceship {
    from {
        transform: translateY(-4px);
    }

    to {
        transform: translateY(4px);
    }
}

@keyframes blink {
    from {
        color: rgba(255, 255, 255, 1);
    }

    33% {
        color: rgba(255, 255, 255, 1);
    }

    to {
        color: rgba(255, 255, 255, 0);
    }
}

@media screen and (prefers-reduced-motion: no-preference) {
    .header__background {
        animation: 3s linear infinite stars;
    }

    .header__spaceship-image {
        animation: 1s ease-in-out alternate infinite spaceship;
    }

    .header__start {
        animation: 1.5s linear alternate infinite blink;
    }
}


/* Tomorrow Night Theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

/* Tomorrow Comment */
.highlight .comment,
.highlight .quote {
    color: #969896;
    display: inline !important;
}

/* Tomorrow Red */
.highlight .variable,
.highlight .template-variable,
.highlight .tag,
.highlight .name,
.highlight .selector-id,
.highlight .selector-class,
.highlight .regexp,
.highlight .deletion {
    color: #cc6666;
}

/* Tomorrow Orange */
.highlight .number,
.highlight .built_in,
.highlight .builtin-name,
.highlight .literal,
.highlight .type,
.highlight .params,
.highlight .meta,
.highlight .link {
    color: #de935f;
}

/* Tomorrow Yellow */
.highlight .attribute {
    color: #f0c674;
}

/* Tomorrow Green */
.highlight .string,
.highlight .symbol,
.highlight .bullet,
.highlight .addition {
    color: #b5bd68;
}

/* Tomorrow Blue */
.highlight .title,
.highlight .section {
    color: #81a2be;
}

/* Tomorrow Purple */
.highlight .keyword,
.highlight .selector-tag {
    color: #b294bb;
}

.highlight {
    display: block;
    overflow-x: auto;
    background: #1d1f21;
    color: #c5c8c6;
    padding: 0.5em;
    margin: 0;
    margin-bottom: 16px;
}

.highlight .gutter pre {
    padding-right: 10px;
    border-right: 1px solid #999999;
    margin-right: 10px;
}

.highlight .emphasis {
    font-style: italic;
}

.highlight .strong {
    font-weight: bold;
}
